.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    color: #ffffff;
    
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    text-align: left;

}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    
}